.elements__item {
  list-style: none;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}