.meet__input {
  border: none;
  margin: 0 0 30px;
  background-color: transparent;
  color: #CCCCCC;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 2px solid #CCCCCC;
  padding: 0 0 9px;
  width: 100%;
  outline: none;
  /* box-shadow: inset 0 0 0 30px #000; */
}

.meet__input:autofill,
.meet__input:autofill:hover,
.meet__input:autofill:active,
.meet__input:autofill:focus {
  box-shadow: 0 0 0 30px #000 inset !important;
  -webkit-text-fill-color: #ccc;
}

.meet__input:nth-child(3n) {
  margin: 0;
}