.meet__btn {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin: 216px 0 0 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.meet__btn:hover {
  transition: .3s ease;
  opacity: .85;
}